# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# build output
/dist

# intellij
/.idea/*
!/.idea/codeStyles

# misc
npm-debug.log*